*{
    margin: 0;
    padding: 0;
}
:root{
    --red:red;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg-image.jpg");
    height: 690px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    position: relative;
}
.main .box{
    height: 690px;
    width: 100%;
    opacity: 0.51;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    height: 10vh;
    padding-top: 10px;
    max-width: 78%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nav img{
    width: 150px;
    position: relative;
    z-index: 10;
}
nav .buttons{
    display: flex;
    gap: 25px;
}
nav button{
    height: 32px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    font-weight: bold;
}
nav button:nth-child(1){
    width: 130px;
    border: 0.5px solid gray;
    color: white;
    background-color: transparent;
}
nav button:nth-child(2){
    border: solid var(--red);
    width: 80px;
    background-color: var(--red);
    color: white;
}
.content{
    height: 84vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 23px;
}
span:nth-child(1) {
    font-size: 47px;
    font-weight: 900;
    text-align: center;
}
span:nth-child(2){
    font-size: 20px;
    text-align: center;
}
span:nth-child(3){
    font-size: 20px;
    text-align: center;
}
.content .emailbox,.memb .emailbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content input,.memb input{
    position: relative;
    height: 55px;
    width: 390px;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 15px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.content button,.memb button{
    height: 55px;
    width: 200px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    background-color: var(--red);
    border: 0px solid var(--red);
}
.seperation{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(35, 35, 35);
}
.fsec,.ssec,.tsec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 230px;
}
.contents{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.contents .l1{
    font-size: 3rem;
    font-weight: 900;
}
.contents .l2 {
    font-size: 1.5rem;
    font-weight: 400;
}
.tv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv img{
    position: relative;
    width: 30vw;
    z-index: 10;
}
.tv video {
    position: absolute;
    right: 259px;
    width: 24vw;
}
.tsec .tv video{
    width: 20vw;
    right: 310px;
    margin-bottom: 115px;
}
.sboxshot{
    display: flex;
    align-items: center;
    align-content: center;
    height: 100px;
    width: 350px;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    z-index: 10;
    top: 5px;
}
.simg{
    border: 1px solid gray;
    border-radius: 3px;
    height: 70px;
    width: 50px;
}
.simg img{
    height: 70px;
    width: 50px;
}
.dnd{
    color: blue;
}
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}
.fraq{
    color: white;
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.ddownbox{
    transition: all 1s ease-out;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    padding: 20px;
}
.ddownbox:hover{
    background-color: rgb(65, 65, 65);
}
.dname{
    font-family:sans-serif;
    font-weight:lighter;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.memb-disc{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.memb{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.last{
    padding: 59px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    flex-direction: column;
    gap: 32px;
}
.foot1{
    display: flex;
    flex-direction: row;
    gap:4px;
}
.foot1 .num{
    text-decoration: underline;
}
.foot2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 18px;
    width:1000px;
    text-decoration: underline;
}
.foot3 button{
    height: 32px;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    font-weight: bold;
    width: 130px;
    border: 0.5px solid gray;
    color: white;
    background-color: transparent;
}
.footer{
    max-width: 90vw;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width:1300px) {
    .fsec,.ssec,.tsec{
        flex-wrap: wrap;
        padding: 20px 15px;
    }
    .tv video {
        position: absolute;
        right: 150px;
        width: 24vw;
    }
    .tsec .tv video{
        width: 20vw;
        right: 158px;
        margin-bottom: 30px;
    }
    .contents .l1{
        font-size: 1rem;
        font-weight: 900;
    }
    .contents .l2 {
        font-size: 0.5rem;
        font-weight: 400;
    }
    .contents{
        gap: 5px;
    }
    .seperation{
        height: 0.3rem;
    }
    .fraq{
        font-size: 1.4rem;
    }
    .ddownbox{
        width: 100%;
        height: 10px;
        align-items: center;
        justify-content:space-between;
        background-color: rgb(26, 26, 26);
    }
    .dname{
        font-size: 12px;
    }
    .dicon img{
        width: 17px;
    }
    .memb-disc{
        font-size: 10px;
    }
    .content input,.memb input{
        height: 27px;
        width: 135px;
        font-size: 8px;
        padding-left: 15px;
        border: 1px solid gray;
        font-weight: 500;
    }
    .content button,.memb button{
        height: 27px;
        width: 70px;
        border-radius: 5px;
        color: white;
        font-size: 8px;
        font-weight:bold;
    }
    .memb button img{
        width: 12px;
    }
    .last{
        padding: 29px;
        font-size: 7px;
        margin-left: 20px;
        gap: 16px;
    }
    .foot2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 9px;
        width:100%;
        text-decoration: underline;
    }
    .foot3 button{
        height: 16px;
        border-radius: 5px;
        position: relative;
        font-size: 8px;
        z-index: 10;
        width: 65px;
        border: 0.5px solid gray;
    }
    .footer{
        max-width: 90vw;
    }
    
    .footer a {
        font-size: 14px;
        color: white;
    }
    
    .footer-item {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
    .main{
        background-image: url("assets/images/bg-image.jpg");
        height: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 900px;
        position: relative;
    }
    .main .box{
        height: 300px;
        width: 100%;
        opacity: 0.51;
        position: absolute;
        top: 0;
        background-color: black;
    }
    nav{
        height: 5vh;
        margin: none;
    }
    nav img{
        width: 75px;
    }
    nav .buttons{
        display: flex;
        gap: 5px;
    }
    nav button{
        height: 16px;
        border-radius: 5px;
        position: relative;
        z-index: 10;
        font-weight: bold;
        font-size: 7px;
    }
    nav button:nth-child(1){
        width: 60px;
        border: 0.5px solid gray;
        color: white;
        background-color: transparent;
    }
    nav button:nth-child(2){
        width: 40px;
    }
    span:nth-child(1) {
        font-size: 47px;
        font-weight: 900;
        text-align: center;
    }
    span:nth-child(2){
        font-size: 20px;
        text-align: center;
    }
    span:nth-child(3){
        font-size: 20px;
        text-align: center;
    }
    .content{
        height: 75%;
        gap: 5px;
    }
    span:nth-child(1) {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
    }
    span:nth-child(2),span:nth-child(3){
        font-size: 8px;
        text-align: center;
    }
}
